:root {
  --color: #37075d;
  --color-primary: #eae8d6;
  --color-primary-500: #eae8d680;
  --color-secondary: #ed2b91;
  --color-thirst: #ff8ec9;
  --color-four: #1e1e1e;
  --color-five: #68624d;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --color-success: #81a593;
  --color-warning: #d2b669;
  --color-info: #7d6e91;
  --color-green: #507f56;
  --color-gray: #848484;
  --color-gray-500: #4f4f4f;
  --color-dark: #000000;
  --color-text-input: #333;
}

$color-primary: #eae8d6;
$color-primary-500: #eae8d680;
$color-success: #81a593;
$color-warning: #d2b669;
$color-info: #7d6e91;

$color-green: #507f56;
$color-gray: #848484;
$color-gray-300: #dbdbdb4d;
$color-gray-500: #4f4f4f;
$color-dark: #000000;
$color-text-input: #333;
